.login{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D2B2C;
  color: #fff;
  padding: 20px;
  padding-left:40px;
}

.logo-image {
  height: 80px;
  width: 80px;
}

.left-items {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
}

.navbar-title {
  margin-left: 20px;
  font-size: 30px;
  font-family: "Grey Qo", cursive;
}

.hed{
  text-align: right;
  font-family: "Gudea", sans-serif;
  font-size: 3em;
  margin-right:40px;
  margin-left: auto;
  margin-bottom: 0;
}

.testimonials{
  display: flex;
}

.testi{
  background-color: white;
  height: 280px;
  margin-top:20px;
  width:250px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px #BFBFBF;
  font-size: 0.9em;
}

.Connect {
  border: 2px solid #fff;
  background-image: url('./assets/contact.png');
  color: #fff;
  padding: 0;
  height: 47px;
  width: 278px;
  border-radius: 30px;
  scale: 0.7;
  cursor: pointer;
  margin-right: 0;
}

.right-items{
  display: flex;
  align-items: center;
}

.actual{
  display: flex;
}

.avatar{
  height:30px;
  width:30px;
}

.idk{
  margin: 0 0 0 0;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row{
  display: flex;
}
.col2{
  margin-left: 30px;
  text-align: center;
  font-family: "Gudea",sans-serif;
  width: 50%;
  background-color: white;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 40px;
  padding-top:296px;
  padding-bottom :30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-section {
  font-family: "Gudea", sans-serif;
  text-align: center;
  height: 100%;

}
.login-section h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display:block;
  margin-bottom: 15px;
}

.form-group input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.forgot-password {
  font-size: 12px;
  margin-bottom: 20px;
  color:#ccc
}
.login-btn{
  width:120px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.image {
  height:100%;
  width: 50%;
   }
   .image img{
     width: 100%;
     height: 60%;
   }

.menubar {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  width: 30%;
  height: 575px;
  align-items: center;
  margin-top: 0; /* or margin-top: 0px; */
  padding-top: 30px;
}

.flexing{
  display: flex;
}

.menuItems {
  display: flex; /* Added */
  background-color: white;
  border-radius: 20px;
  border: none;
  width: 400px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
}

.dash{
  display: flex;
}

.boxx{
  background-color: grey;
  height: 150px;
  width: 300px;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 60px;
  padding: 10px 10px 10px 10px;
}

.dash2{
  display: flex;
}

.account-settings {
  width: 100%; /* This will make sure it takes the full width of its parent */
  background-color: white;
  font-family: 'Arial', sans-serif;
  padding: 40px;
  padding-top: 10px;
  margin-top: 0px;
  box-sizing: border-box; /* This ensures padding does not affect the total width */

}

hr {
  width: 60%;
  text-align: left;
  margin-left: 0;
}

.dpImage{
  border-radius: 50%;
}
.button{
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.myform{
  display:flex;
  font-family: 'Gudea', sans-serif;
}

.align1{
  display: flex;
  gap:80px;
  margin-left: 80px;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 30px;

}
.align2{
  display: flex;
  gap:80px;
  margin-left: 80px;
  width: 500px;
  height: 50px;
  border-radius: 30px; 
  margin-bottom: 20px; 
}
.align3{
  margin-left: 80px;
  width: 1000px;
  height: 150px;
}
.spaced-text{
  line-height:10;
}
.curved-radius{
  border-radius: 30px;
}
.myform{
  margin-left: 80px;
}
.sub{
  width: 200px;
  height: 40px;
}
.curved-radius::placeholder{
  text-align: center;
  font-family: 'Gudea', sans-serif;
}
.align4{
  text-align: center;
  font-family: 'Gudea', sans-serif;
}